/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer el tamaño de la página y el fondo */
body {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-color: #DCDCDC; /* Gris medio */
    font-family: 'Poppins', sans-serif;
    overflow: hidden; /* Evitar que aparezcan barras de desplazamiento */
}

/* Estilo del contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333333; /* Gris oscuro */
    text-align: center;
}

/* Imagen encima del título */
#gafas {
    max-width: 35%;
    width: 23%;
    height: auto; /* Mantener la proporción de la imagen */
}

/* Estilo para el título con contorno sin relleno */

/* Estilo para el título con contorno sin relleno */
#title {
    color: transparent; /* Hace el color de la letra transparente */
    font-size: 63px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #ffffff;
    width: 0;
    animation: typing 3s steps(10) 1s forwards, blink 1s step-end infinite;
    -webkit-text-stroke: 2px #000000; /* Agrega el contorno en WebKit */
    text-shadow: 2px #000000; /* Propiedad estándar para contorno (no es ampliamente soportada) */
}


/* Animación de máquina de escribir */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Animación de parpadeo del cursor */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Estilo para el subtítulo */
#subtitle {
    color: #333333;
    font-size: 18px;
    margin-top: 20px; /* Añadir espacio entre el título y el subtítulo */
    margin-bottom: 30px;
    font-family: 'Source Code Pro', monospace;
    max-width: 600px;
    line-height: 1.5;
}

/* Estilo del botón */
.button {
    background-color: #FFEB3B; /* Amarillo */
    color: #333333; /* Gris oscuro */
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.5s ease, transform 0.3s ease; /* Añadido transform */
    margin-top: 20px; /* Añadir espacio entre el subtítulo y el botón */
}

/* Efecto al pasar el mouse sobre el botón */
.button:hover {
    background-color: #1D3557; /* Un amarillo más suave */
    transform: scale(1.1); /* Efecto de agrandamiento al hacer hover */
    color: #ffffff;
}
